<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Increasing Solar Energy in New Jersey</title>
    </head>
    <body>
		<!-- Description of topic -->
	    <h3 style="text-align:center;">Increasing Solar Energy in New Jersey</h3>
		<p style="text-align:center;">This project will compare the amount of solar panels within the county or specified municipality to indicate whether an increase in the amount of solar panel installations result in a decrease of CO2 emissions</p>
		<!-- County dropdown option -->
	    <h4 style="text-align:center;">Choose a County</h4>
        <form action="/county-handler" method="POST">
            <div style="text-align:center;">
				<select name="county" id="county">
					<option value="">County</option>
					<option value="Atlantic">Atlantic</option>
					<option value="Bergen">Bergen</option>
					<option value="Burlington">Burlington</option>
					<option value="Camden">Camden</option>
					<option value="Cape May">Cape May</option>
					<option value="Cumberland">Cumberland</option>
					<option value="Essex">Essex</option>
					<option value="Gloucester">Gloucester</option>
					<option value="Hudson">Hudson</option>
					<option value="Hunterdon">Hunterdon</option>
					<option value="Mercer">Mercer</option>
					<option value="Middlesex">Middlesex</option>
					<option value="Monmouth">Monmouth</option>
					<option value="Morris">Morris</option>
					<option value="Ocean">Ocean</option>
					<option value="Passaic">Passaic</option>
					<option value="Salem">Salem</option>
					<option value="Somerset">Somerset</option>
					<option value="Sussex">Sussex</option>
					<option value="Union">Union</option>
					<option value="Warren">Warren</option>
				</select>
            </div>
			<div style="text-align:center;">
                <input type="submit" value="Submit">
			</div>
        </form>

	    <h4 style="text-align:center;">OR</h4>
		
		<!-- Municipality dropdown option -->
	    <h4 style="text-align:center;">Choose a Municipality</h4>
        <form action="/municipality-handler" method="POST">
            <div style="text-align:center;">
				<select name="municipality" id="municipality">
					<option value="Municipality">Municipality</option>
					<option value="Aberdeen township">Aberdeen Township</option>
					<option value="Absecon city">Absecon City</option>					
					<option value="Alexandria township">Alexandria Township</option>
					<option value="Allamuchy township">Allamuchy Township</option>
					<option value="Allendale borough">Allendale Borough</option>
					<option value="Allenhurst borough">Allenhurst Borough</option>
					<option value="Allentown borough">Allentown Borough</option>
					<option value="Alloway township">Alloway Township</option>
					<option value="Alpha borough">Alpha Borough</option>
					<option value="Andover borough">Andover Borough</option>
					<option value="Andover township">Andover Township</option>
					<option value="Asbury Park city">Asbury Park City</option>
					<option value="Atlantic City city">Atlantic City</option>
					<option value="Atlantic Highlands borough">Atlantic Highlands Borough</option>
					<option value="Audubon borough">Audubon Borough</option>
					<option value="Audubon Park borough">Audubon Park Borough</option>
					<option value="Avalon borough">Avalon Borough</option>
					<option value="Avon-by-the-Sea borough">Avon-by-the-Sea Borough</option>
					<option value="Barnegat Light borough">Barnegat Light Borough</option>
					<option value="Barnegat township">Barnegat Township</option>
					<option value="Barrington borough">Barrington Borough</option>
					<option value="Bass River township">Bass River Township</option>
					<option value="Bay Head borough">Bay Head Borough</option>
					<option value="Bayonne city">Bayonne City</option>
					<option value="Beach Haven borough">Beach Haven Borough</option>
					<option value="Beachwood borough">Beachwood Borough</option>
					<option value="Bedminster township">Bedminster Township</option>
					<option value="Belleville township">Belleville Township</option>
					<option value="Bellmawr borough">Bellmawr Borough</option>
					<option value="Belmar borough">Belmar Borough</option>
					<option value="Belvidere town">Belvidere Town</option>
					<option value="Bergenfield borough">Bergenfield Borough</option>
					<option value="Berkeley Heights township">Berkeley Heights Township</option>
					<option value="Berkeley township">Berkeley Township</option>
					<option value="Berlin borough">Berlin Borough</option>
					<option value="Berlin township">Berlin Township</option>
					<option value="Bernards township">Bernards Township</option>
					<option value="Bernardsville borough">Bernardsville Borough</option>
					<option value="Bethlehem township">Bethlehem Township</option>
					<option value="Beverly city">Beverly City</option>
					<option value="Blairstown township">Blairstown Township</option>
					<option value="Bloomfield township">Bloomfield Township</option>
					<option value="Bloomingdale borough">Bloomingdale Borough</option>
					<option value="Bloomsbury borough">Bloomsbury Borough</option>
					<option value="Bogota borough">Bogota Borough</option>
					<option value="Boonton town">Boonton Town</option>
					<option value="Boonton township">Boonton Township</option>
					<option value="Bordentown city">Bordentown City</option>
					<option value="Bordentown township">Bordentown Township</option>
					<option value="Bound Brook borough">Bound Brook Borough</option>
					<option value="Bradley Beach borough">Bradley Beach Borough</option>
					<option value="Branchburg township">Branchburg Township</option>
					<option value="Branchville borough">Branchville Borough</option>
					<option value="Brick township">Brick Township</option>
					<option value="Bridgeton city">Bridgeton City</option>
					<option value="Bridgewater township">Bridgewater Township</option>
					<option value="Brielle borough">Brielle Borough</option>
					<option value="Brigantine city">Brigantine City</option>
					<option value="Brooklawn borough">Brooklawn Borough</option>
					<option value="Buena borough">Buena Borough</option>
					<option value="Buena Vista township">Buena Vista Township</option>
					<option value="Burlington city">Burlington City</option>
					<option value="Burlington township">Burlington Township</option>
					<option value="Butler borough">Butler Borough</option>
					<option value="Byram township">Byram Township</option>
					<option value="Camden city">Camden City</option>
					<option value="Cape May city">Cape May City</option>
					<option value="Cape May Point borough">Cape May Point Borough</option>
					<option value="Carlstadt borough">Carlstadt Borough</option>
					<option value="Carneys Point township">Carneys Point Township</option>
					<option value="Carteret borough">Carteret Borough</option>
					<option value="Cedar Grove township">Cedar Grove Township</option>
					<option value="Chatham borough">Chatham Borough</option>
					<option value="Chatham township">Chatham Township</option>
					<option value="Cherry Hill township">Cherry Hill Township</option>
					<option value="Chesilhurst borough">Chesilhurst Borough</option>
					<option value="Chester borough">Chester Borough</option>
					<option value="Chester township">Chester Township</option>
					<option value="Chesterfield township">Chesterfield Township</option>
					<option value="Cinnaminson township">Cinnaminson Township</option>
					<option value="City of Orange township">City of Orange Township</option>
					<option value="Clark township">Clark Township</option>
					<option value="Clayton borough">Clayton Borough</option>
					<option value="Clementon borough">Clementon Borough</option>
					<option value="Cliffside Park borough">Cliffside Park Borough</option>
					<option value="Clifton city">Clifton City</option>
					<option value="Clinton town">Clinton Town</option>
					<option value="Clinton township">Clinton Township</option>
					<option value="Closter borough">Closter Borough</option>
					<option value="Collingswood borough">Collingswood Borough</option>
					<option value="Colts Neck township">Colts Neck Township</option>
					<option value="Commercial township">Commercial Township</option>
					<option value="Corbin City city">Corbin City</option>
					<option value="Cranbury township">Cranbury Township</option>
					<option value="Cranford township">Cranford Township</option>
					<option value="Cresskill borough">Cresskill Borough</option>
					<option value="Deal borough">Deal Borough</option>
					<option value="Deerfield township">Deerfield Township</option>
					<option value="Delanco township">Delanco Township</option>
					<option value="Delaware township">Delaware Township</option>
					<option value="Delran township">Delran Township</option>
					<option value="Demarest borough">Demarest Borough</option>
					<option value="Dennis township">Dennis Township</option>
					<option value="Denville township">Denville Township</option>
					<option value="Deptford township">Deptford Township</option>
					<option value="Dover town">Dover Town</option>
					<option value="Downe township">Downe Township</option>
					<option value="Dumont borough">Dumont Borough</option>
					<option value="Dunellen borough">Dunellen Borough</option>
					<option value="Eagleswood township">Eagleswood Township</option>
					<option value="East Amwell township">East Amwell Township</option>
					<option value="East Brunswick township">East Brunswick Township</option>
					<option value="East Greenwich township">East Greenwich Township</option>
					<option value="East Hanover township">East Hanover Township</option>
					<option value="East Newark borough">East Newark Borough</option>
					<option value="East Orange city">East Orange City</option>
					<option value="East Rutherford borough">East Rutherford Borough</option>
					<option value="East Windsor township">East Windsor Township</option>
					<option value="Eastampton township">Eastampton Township</option>
					<option value="Eatontown borough">Eatontown Borough</option>
					<option value="Edgewater borough">Edgewater Borough</option>
					<option value="Edgewater Park township">Edgewater Park Township</option>
					<option value="Edison township">Edison Township</option>
					<option value="Egg Harbor City city">Egg Harbor City</option>
					<option value="Egg Harbor township">Egg Harbor Township</option>
					<option value="Elizabeth city">Elizabeth City</option>
					<option value="Elk township">Elk Township</option>
					<option value="Elmer borough">Elmer Borough</option>
					<option value="Elmwood Park borough">Elmwood Park Borough</option>
					<option value="Elsinboro township">Elsinboro Township</option>
					<option value="Emerson borough">Emerson Borough</option>
					<option value="Englewood city">Englewood City</option>
					<option value="Englewood Cliffs borough">Englewood Cliffs Borough</option>
					<option value="Englishtown borough">Englishtown Borough</option>
					<option value="Essex Fells borough">Essex Fells Borough</option>
					<option value="Estell Manor city">Estell Manor City</option>
					<option value="Evesham township">Evesham Township</option>
					<option value="Ewing township">Ewing Township</option>
					<option value="Fair Haven borough">Fair Haven Borough</option>
					<option value="Fair Lawn borough">Fair Lawn Borough</option>
					<option value="Fairfield township">Fairfield Township</option>
					<option value="Fairview borough">Fairview Borough</option>
					<option value="Fanwood borough">Fanwood Borough</option>
					<option value="Far Hills borough">Far Hills Borough</option>
					<option value="Farmingdale borough">Farmingdale Borough</option>
					<option value="Fieldsboro borough">Fieldsboro Borough</option>
					<option value="Flemington borough">Flemington Borough</option>
					<option value="Florence township">Florence Township</option>
					<option value="Florham Park borough">Florham Park Borough</option>
					<option value="Folsom borough">Folsom Borough</option>
					<option value="Fort Lee borough">Fort Lee Borough</option>
					<option value="Frankford township">Frankford Township</option>
					<option value="Franklin borough">Franklin Borough</option>
					<option value="Franklin Lakes borough">Franklin Lakes Borough</option>
					<option value="Franklin township">Franklin Township</option>
					<option value="Fredon township">Fredon Township</option>
					<option value="Freehold borough">Freehold Borough</option>
					<option value="Freehold township">Freehold Township</option>
					<option value="Frelinghuysen township">Frelinghuysen Township</option>
					<option value="Frenchtown borough">Frenchtown Borough</option>
					<option value="Galloway township">Galloway Township</option>
					<option value="Garfield city">Garfield City</option>
					<option value="Garwood borough">Garwood Borough</option>
					<option value="Gibbsboro borough">Gibbsboro Borough</option>
					<option value="Glen Gardner borough">Glen Gardner Borough</option>
					<option value="Glen Ridge borough">Glen Ridge Borough</option>
					<option value="Glen Rock borough">Glen Rock Borough</option>
					<option value="Gloucester City city">Gloucester City</option>
					<option value="Gloucester township">Gloucester Township</option>
					<option value="Green Brook township">Green Brook Township</option>
					<option value="Green township">Green Township</option>
					<option value="Greenwich township">Greenwich Township</option>
					<option value="Guttenberg town">Guttenberg Town</option>
					<option value="Hackensack city">Hackensack City</option>
					<option value="Hackettstown town">Hackettstown Town</option>
					<option value="Haddon Heights borough">Haddon Heights Borough</option>
					<option value="Haddon township">Haddon Township</option>
					<option value="Haddonfield borough">Haddonfield Borough</option>
					<option value="Hainesport township">Hainesport Township</option>
					<option value="Haledon borough">Haledon Borough</option>
					<option value="Hamburg borough">Hamburg Borough</option>
					<option value="Hamilton township">Hamilton Township</option>
					<option value="Hammonton town">Hammonton Town</option>
					<option value="Hampton borough">Hampton Borough</option>
					<option value="Hampton township">Hampton Township</option>
					<option value="Hanover township">Hanover Township</option>
					<option value="Harding township">Harding Township</option>
					<option value="Hardwick township">Hardwick Township</option>
					<option value="Hardyston township">Hardyston Township</option>
					<option value="Harmony township">Harmony Township</option>
					<option value="Harrington Park borough">Harrington Park Borough</option>
					<option value="Harrison town">Harrison Town</option>
					<option value="Harrison township">Harrison Township</option>
					<option value="Harvey Cedars borough">Harvey Cedars Borough</option>
					<option value="Hasbrouck Heights borough">Hasbrouck Heights Borough</option>
					<option value="Haworth borough">Haworth Borough</option>
					<option value="Hawthorne borough">Hawthorne Borough</option>
					<option value="Hazlet township">Hazlet Township</option>
					<option value="Helmetta borough">Helmetta Borough</option>
					<option value="Hi-Nella borough">Hi-Nella Borough</option>
					<option value="High Bridge borough">High Bridge Borough</option>
					<option value="Highland Park borough">Highland Park Borough</option>
					<option value="Highlands borough">Highlands Borough</option>
					<option value="Hightstown borough">Hightstown Borough</option>
					<option value="Hillsborough township">Hillsborough Township</option>
					<option value="Hillsdale borough">Hillsdale Borough</option>
					<option value="Hillside township">Hillside Township</option>
					<option value="Ho-Ho-Kus borough">Ho-Ho-Kus Borough</option>
					<option value="Hoboken city">Hoboken City</option>
					<option value="Holland township">Holland Township</option>
					<option value="Holmdel township">Holmdel Township</option>
					<option value="Hopatcong borough">Hopatcong Borough</option>
					<option value="Hope township">Hope Township</option>
					<option value="Hopewell borough">Hopewell Borough</option>
					<option value="Hopewell township">Hopewell Township</option>
					<option value="Howell township">Howell Township</option>
					<option value="Independence township">Independence Township</option>
					<option value="Interlaken borough">Interlaken Borough</option>
					<option value="Irvington township">Irvington Township</option>
					<option value="Island Heights borough">Island Heights Borough</option>
					<option value="Jackson township">Jackson Township</option>
					<option value="Jamesburg borough">Jamesburg Borough</option>
					<option value="Jefferson township">Jefferson Township</option>
					<option value="Jersey City city">Jersey City</option>
					<option value="Keansburg borough">Keansburg Borough</option>
					<option value="Kearny town">Kearny Town</option>
					<option value="Kenilworth borough">Kenilworth Borough</option>
					<option value="Keyport borough">Keyport Borough</option>
					<option value="Kingwood township">Kingwood Township</option>
					<option value="Kinnelon borough">Kinnelon Borough</option>
					<option value="Knowlton township">Knowlton Township</option>
					<option value="Lacey township">Lacey Township</option>
					<option value="Lafayette township">Lafayette Township</option>
					<option value="Lake Como borough">Lake Como Borough</option>
					<option value="Lakehurst borough">Lakehurst Borough</option>
					<option value="Lakewood township">Lakewood Township</option>
					<option value="Lambertville city">Lambertville City</option>
					<option value="Laurel Springs borough">Laurel Springs Borough</option>
					<option value="Lavallette borough">Lavallette Borough</option>
					<option value="Lawnside borough">Lawnside Borough</option>
					<option value="Lawrence township">Lawrence Township</option>
					<option value="Lebanon borough">Lebanon Borough</option>
					<option value="Lebanon township">Lebanon Township</option>
					<option value="Leonia borough">Leonia Borough</option>
					<option value="Liberty township">Liberty Township</option>
					<option value="Lincoln Park borough">Lincoln Park Borough</option>
					<option value="Linden city">Linden City</option>
					<option value="Lindenwold borough">Lindenwold Borough</option>
					<option value="Linwood city">Linwood City</option>
					<option value="Little Egg Harbor township">Little Egg Harbor Township</option>
					<option value="Little Falls township">Little Falls Township</option>
					<option value="Little Ferry borough">Little Ferry Borough</option>
					<option value="Little Silver borough">Little Silver Borough</option>
					<option value="Livingston township">Livingston Township</option>
					<option value="Loch Arbour village">Loch Arbour Village</option>
					<option value="Lodi borough">Lodi Borough</option>
					<option value="Logan township">Logan Township</option>
					<option value="Long Beach township">Long Beach Township</option>
					<option value="Long Branch city">Long Branch City</option>
					<option value="Long Hill township">Long Hill Township</option>
					<option value="Longport borough">Longport Borough</option>
					<option value="Lopatcong township">Lopatcong Township</option>
					<option value="Lower Alloways Creek township">Lower Alloways Creek Township</option>
					<option value="Lower township">Lower Township</option>
					<option value="Lumberton township">Lumberton Township</option>
					<option value="Lyndhurst township">Lyndhurst Township</option>
					<option value="Madison borough">Madison Borough</option>
					<option value="Magnolia borough">Magnolia Borough</option>
					<option value="Mahwah township">Mahwah Township</option>
					<option value="Manalapan township">Manalapan Township</option>
					<option value="Manasquan borough">Manasquan Borough</option>
					<option value="Manchester township">Manchester Township</option>
					<option value="Mannington township">Mannington Township</option>
					<option value="Mansfield township">Mansfield Township</option>
					<option value="Mantoloking borough">Mantoloking Borough</option>
					<option value="Mantua township">Mantua Township</option>
					<option value="Manville borough">Manville Borough</option>
					<option value="Maple Shade township">Maple Shade Township</option>
					<option value="Maplewood township">Maplewood Township</option>
					<option value="Margate City city">Margate City</option>
					<option value="Marlboro township">Marlboro Township</option>
					<option value="Matawan borough">Matawan Borough</option>
					<option value="Maurice River township">Maurice River Township</option>
					<option value="Maywood borough">Maywood Borough</option>
					<option value="Medford Lakes borough">Medford Lakes Borough</option>
					<option value="Medford township">Medford Township</option>
					<option value="Mendham borough">Mendham Borough</option>
					<option value="Mendham township">Mendham Township</option>
					<option value="Merchantville borough">Merchantville Borough</option>
					<option value="Metuchen borough">Metuchen Borough</option>
					<option value="Middle township">Middle Township</option>
					<option value="Middlesex borough">Middlesex Borough</option>
					<option value="Middletown township">Middletown Township</option>
					<option value="Midland Park borough">Midland Park Borough</option>
					<option value="Milford borough">Milford Borough</option>
					<option value="Millburn township">Millburn Township</option>
					<option value="Millstone borough">Millstone Borough</option>
					<option value="Millstone township">Millstone Township</option>
					<option value="Milltown borough">Milltown Borough</option>
					<option value="Millville city">Millville City</option>
					<option value="Mine Hill township">Mine Hill Township</option>
					<option value="Monmouth Beach borough">Monmouth Beach Borough</option>
					<option value="Monroe township">Monroe Township</option>
					<option value="Montague township">Montague Township</option>
					<option value="Montclair township">Montclair Township</option>
					<option value="Montgomery township">Montgomery Township</option>
					<option value="Montvale borough">Montvale Borough</option>
					<option value="Montville township">Montville Township</option>
					<option value="Moonachie borough">Moonachie Borough</option>
					<option value="Moorestown township">Moorestown Township</option>
					<option value="Morris Plains borough">Morris Plains Borough</option>
					<option value="Morris township">Morris Township</option>
					<option value="Morristown town">Morristown Town</option>
					<option value="Mount Arlington borough">Mount Arlington Borough</option>
					<option value="Mount Ephraim borough">Mount Ephraim Borough</option>
					<option value="Mount Holly township">Mount Holly Township</option>
					<option value="Mount Laurel township">Mount Laurel Township</option>
					<option value="Mount Olive township">Mount Olive Township</option>
					<option value="Mountain Lakes borough">Mountain Lakes Borough</option>
					<option value="Mountainside borough">Mountainside Borough</option>
					<option value="Mullica township">Mullica Township</option>
					<option value="National Park borough">National Park Borough</option>
					<option value="Neptune City borough">Neptune City Borough</option>
					<option value="Neptune township">Neptune Township</option>
					<option value="Netcong borough">Netcong Borough</option>
					<option value="New Brunswick city">New Brunswick City</option>
					<option value="New Hanover township">New Hanover Township</option>
					<option value="New Milford borough">New Milford Borough</option>
					<option value="New Providence borough">New Providence Borough</option>
					<option value="Newark city">Newark City</option>
					<option value="Newfield borough">Newfield Borough</option>
					<option value="Newton town">Newton Town</option>
					<option value="North Arlington borough">North Arlington Borough</option>
					<option value="North Bergen township">North Bergen Township</option>
					<option value="North Brunswick township">North Brunswick Township</option>
					<option value="North Caldwell borough">North Caldwell Borough</option>
					<option value="North Haledon borough">North Haledon Borough</option>
					<option value="North Hanover township">North Hanover Township</option>
					<option value="North Plainfield borough">North Plainfield Borough</option>
					<option value="North Wildwood city">North Wildwood City</option>
					<option value="Northfield city">Northfield City</option>
					<option value="Northvale borough">Northvale Borough</option>
					<option value="Norwood borough">Norwood Borough</option>
					<option value="Nutley township">Nutley Township</option>
					<option value="Oakland borough">Oakland Borough</option>
					<option value="Oaklyn borough">Oaklyn Borough</option>
					<option value="Ocean City city">Ocean City</option>
					<option value="Ocean Gate borough">Ocean Gate Borough</option>
					<option value="Ocean township">Ocean Township</option>
					<option value="Oceanport borough">Oceanport Borough</option>
					<option value="Ogdensburg borough">Ogdensburg Borough</option>
					<option value="Old Bridge township">Old Bridge Township</option>
					<option value="Old Tappan borough">Old Tappan Borough</option>
					<option value="Oldmans township">Oldmans Township</option>
					<option value="Oradell borough">Oradell Borough</option>
					<option value="Oxford township">Oxford Township</option>
					<option value="Palisades Park borough">Palisades Park Borough</option>
					<option value="Palmyra borough">Palmyra Borough</option>
					<option value="Paramus borough">Paramus Borough</option>
					<option value="Park Ridge borough">Park Ridge Borough</option>
					<option value="Parsippany-Troy Hills township">Parsippany-Troy Hills Township</option>
					<option value="Passaic city">Passaic City</option>
					<option value="Paterson city">Paterson City</option>
					<option value="Paulsboro borough">Paulsboro Borough</option>
					<option value="Peapack and Gladstone borough">Peapack and Gladstone Borough</option>
					<option value="Pemberton borough">Pemberton Borough</option>
					<option value="Pemberton township">Pemberton Township</option>
					<option value="Pennington borough">Pennington Borough</option>
					<option value="Penns Grove borough">Penns Grove Borough</option>
					<option value="Pennsauken township">Pennsauken Township</option>
					<option value="Pennsville township">Pennsville Township</option>
					<option value="Pequannock township">Pequannock Township</option>
					<option value="Perth Amboy city">Perth Amboy City</option>
					<option value="Phillipsburg town">Phillipsburg Town</option>
					<option value="Pilesgrove township">Pilesgrove Township</option>
					<option value="Pine Beach borough">Pine Beach Borough</option>
					<option value="Pine Hill borough">Pine Hill Borough</option>
					<option value="Pine Valley borough">Pine Valley Borough</option>
					<option value="Piscataway township">Piscataway Township</option>
					<option value="Pitman borough">Pitman Borough</option>
					<option value="Pittsgrove township">Pittsgrove Township</option>
					<option value="Plainfield city">Plainfield City</option>
					<option value="Plainsboro township">Plainsboro Township</option>
					<option value="Pleasantville city">Pleasantville City</option>
					<option value="Plumsted township">Plumsted Township</option>
					<option value="Pohatcong township">Pohatcong Township</option>
					<option value="Point Pleasant beach borough">Point Pleasant Beach Borough</option>
					<option value="Point Pleasant borough">Point Pleasant Borough</option>
					<option value="Pompton Lakes borough">Pompton Lakes Borough</option>
					<option value="Port Republic city">Port Republic City</option>
					<option value="Princeton">Princeton</option>
					<option value="Prospect Park borough">Prospect Park Borough</option>
					<option value="Quinton township">Quinton Township</option>
					<option value="Rahway city">Rahway City</option>
					<option value="Ramsey borough">Ramsey Borough</option>
					<option value="Randolph township">Randolph Township</option>
					<option value="Raritan borough">Raritan Borough</option>
					<option value="Raritan township">Raritan Township</option>
					<option value="Readington township">Readington Township</option>
					<option value="Red Bank borough">Red Bank Borough</option>
					<option value="Ridgefield borough">Ridgefield Borough</option>
					<option value="Ridgefield Park village">Ridgefield Park Village</option>
					<option value="Ridgewood village">Ridgewood Village</option>
					<option value="Ringwood borough">Ringwood Borough</option>
					<option value="River Edge borough">River Edge Borough</option>
					<option value="River Vale township">River Vale Township</option>
					<option value="Riverdale borough">Riverdale Borough</option>
					<option value="Riverside township">Riverside Township</option>
					<option value="Riverton borough">Riverton Borough</option>
					<option value="Robbinsville township">Robbinsville Township</option>
					<option value="Rochelle Park township">Rochelle Park Township</option>
					<option value="Rockaway borough">Rockaway Borough</option>
					<option value="Rockaway township">Rockaway Township</option>
					<option value="Rockleigh borough">Rockleigh Borough</option>
					<option value="Rocky Hill borough">Rocky Hill Borough</option>
					<option value="Roosevelt borough">Roosevelt Borough</option>
					<option value="Roseland borough">Roseland Borough</option>
					<option value="Roselle borough">Roselle Borough</option>
					<option value="Roselle Park borough">Roselle Park Borough</option>
					<option value="Roxbury township">Roxbury Township</option>
					<option value="Rumson borough">Rumson borough</option>
					<option value="Runnemede borough">Runnemede borough</option>
					<option value="Rutherford borough">Rutherford borough</option>
					<option value="Saddle Brook township">Saddle Brook Township</option>
					<option value="Saddle River borough">Saddle River Borough</option>
					<option value="Salem city">Salem City</option>
					<option value="Sandyston township">Sandyston Township</option>
					<option value="Sayreville borough">Sayreville Borough</option>
					<option value="Scotch Plains township">Scotch Plains Township</option>
					<option value="Sea Bright borough">Sea Bright Borough</option>
					<option value="Sea Girt borough">Sea Girt Borough</option>
					<option value="Sea Isle City city">Sea Isle City City</option>
					<option value="Seaside Heights borough">Seaside Heights Borough</option>
					<option value="Seaside Park borough">Seaside Park Borough</option>
					<option value="Secaucus town">Secaucus Town</option>
					<option value="Shamong township">Shamong Township</option>
					<option value="Shiloh borough">Shiloh Borough</option>
					<option value="Ship Bottom borough">Ship Bottom Borough</option>
					<option value="Shrewsbury borough">Shrewsbury Borough</option>
					<option value="Shrewsbury township">Shrewsbury Township</option>
					<option value="Somerdale borough">Somerdale Borough</option>
					<option value="Somers Point city">Somers Point City</option>
					<option value="Somerville borough">Somerville Borough</option>
					<option value="South Amboy city">South Amboy City</option>
					<option value="South Bound Brook borough">South Bound Brook Borough</option>
					<option value="South Brunswick township">South Brunswick Township</option>
					<option value="South Hackensack township">South Hackensack Township</option>
					<option value="South Harrison township">South Harrison Township</option>
					<option value="South Orange Village township">South Orange Village Township</option>
					<option value="South Plainfield borough">South Plainfield Borough</option>
					<option value="South River borough">South River Borough</option>
					<option value="South Toms River borough">South Toms River Borough</option>
					<option value="Southampton township">Southampton Township</option>
					<option value="Sparta township">Sparta Township</option>
					<option value="Spotswood borough">Spotswood Borough</option>
					<option value="Spring Lake borough">Spring Lake Borough</option>
					<option value="Spring Lake Heights borough">Spring Lake Heights Borough</option>
					<option value="Springfield township">Springfield Township</option>
					<option value="Stafford township">Stafford Township</option>
					<option value="Stanhope borough">Stanhope Borough</option>
					<option value="Stillwater township">Stillwater Township</option>
					<option value="Stockton borough">Stockton Borough</option>
					<option value="Stone Harbor borough">Stone Harbor Borough</option>
					<option value="Stow Creek township">Stow Creek Township</option>
					<option value="Stratford borough">Stratford Borough</option>
					<option value="Summit city">Summit City</option>
					<option value="Surf City borough">Surf City Borough</option>
					<option value="Sussex borough">Sussex Borough</option>
					<option value="Swedesboro borough">Swedesboro Borough</option>
					<option value="Tabernacle township">Tabernacle Township</option>
					<option value="Tavistock borough">Tavistock Borough</option>
					<option value="Teaneck township">Teaneck Township</option>
					<option value="Tenafly borough">Tenafly Borough</option>
					<option value="Teterboro borough">Teterboro Borough</option>
					<option value="Tewksbury township">Tewksbury Township</option>
					<option value="Tinton Falls borough">Tinton Falls Borough</option>
					<option value="Toms River township">Toms River Township</option>
					<option value="Totowa borough">Totowa Borough</option>
					<option value="Trenton city">Trenton City</option>
					<option value="Tuckerton borough">Tuckerton Borough</option>
					<option value="Union Beach borough">Union Beach Borough</option>
					<option value="Union City city">Union City City</option>
					<option value="Union township">Union Township</option>
					<option value="Upper Deerfield township">Upper Deerfield Township</option>
					<option value="Upper Freehold township">Upper Freehold Township</option>
					<option value="Upper Pittsgrove township">Upper Pittsgrove Township</option>
					<option value="Upper Saddle River borough">Upper Saddle River Borough</option>
					<option value="Upper township">Upper Township</option>
					<option value="Ventnor City">Ventnor City</option>
					<option value="Vernon township">Vernon Township</option>
					<option value="Verona township">Verona Township</option>
					<option value="Victory Gardens borough">Victory Gardens Borough</option>
					<option value="Vineland city">Vineland City</option>
					<option value="Voorhees township">Voorhees Township</option>
					<option value="Waldwick borough">Waldwick Borough</option>
					<option value="Wall Township">Wall Township</option>
					<option value="Wallington borough">Wallington Borough</option>
					<option value="Walpack township">Walpack Township</option>
					<option value="Wanaque borough">Wanaque Borough</option>
					<option value="Wantage township">Wantage Township</option>
					<option value="Warren township">Warren Township</option>
					<option value="Washington borough">Washington Borough</option>
					<option value="Township of Washington">Township of Washington</option>
					<option value="Washington township">Washington Township</option>
					<option value="Watchung borough">Watchung Borough</option>
					<option value="Waterford township">Waterford Township</option>
					<option value="Wayne township">Wayne Township</option>
					<option value="Weehawken township">Weehawken Township</option>
					<option value="Wenonah borough">Wenonah Borough</option>
					<option value="West Amwell township">West Amwell Township</option>
					<option value="West Caldwell township">West Caldwell Township</option>
					<option value="West Cape May borough">West Cape May Borough</option>
					<option value="West Deptford township">West Deptford Township</option>
					<option value="West Long Branch borough">West Long Branch Borough</option>
					<option value="West Milford township">West Milford Township</option>
					<option value="West New York town">West New York Town</option>
					<option value="West Orange township">West Orange Township</option>
					<option value="West Wildwood borough">West Wildwood Borough</option>
					<option value="West Windsor township">West Windsor Township</option>
					<option value="Westampton township">Westampton Township</option>
					<option value="Westfield town">Westfield Town</option>
					<option value="Westville borough">Westville Borough</option>
					<option value="Westwood borough">Westwood Borough</option>
					<option value="Weymouth township">Weymouth Township</option>
					<option value="Wharton borough">Wharton Borough</option>
					<option value="White township">White Township</option>
					<option value="Wildwood city">Wildwood City</option>
					<option value="Wildwood Crest borough">Wildwood Crest Borough</option>
					<option value="Willingboro township">Willingboro Township</option>
					<option value="Winfield township">Winfield Township</option>
					<option value="Winslow township">Winslow Township</option>
					<option value="Woodbine borough">Woodbine Borough</option>
					<option value="Woodbridge township">Woodbridge Township</option>
					<option value="Woodbury city">Woodbury City</option>
					<option value="Woodbury Heights borough">Woodbury Heights Borough</option>
					<option value="Woodcliff Lake borough">Woodcliff Lake Borough</option>
					<option value="Woodland Township">Woodland Township</option>
					<option value="Woodland Park borough">Woodland Park Borough</option>
					<option value="Woodlynne borough">Woodlynne Borough</option>
					<option value="Wood-Ridge borough">Wood-Ridge Borough</option>
					<option value="Woodstown borough">Woodstown Borough</option>
					<option value="Woolwich township">Woolwich Township</option>
					<option value="Wrightstown borough">Wrightstown Borough</option>
					<option value="Wyckoff township">Wyckoff Township</option>
				</select>
				<select name="mun_county" id="mun_county">
					<option value="">County</option>
					<option value="Atlantic">Atlantic</option>
					<option value="Bergen">Bergen</option>
					<option value="Burlington">Burlington</option>
					<option value="Camden">Camden</option>
					<option value="Cape May">Cape May</option>
					<option value="Cumberland">Cumberland</option>
					<option value="Essex">Essex</option>
					<option value="Gloucester">Gloucester</option>
					<option value="Hudson">Hudson</option>
					<option value="Hunterdon">Hunterdon</option>
					<option value="Mercer">Mercer</option>
					<option value="Middlesex">Middlesex</option>
					<option value="Monmouth">Monmouth</option>
					<option value="Morris">Morris</option>
					<option value="Ocean">Ocean</option>
					<option value="Passaic">Passaic</option>
					<option value="Salem">Salem</option>
					<option value="Somerset">Somerset</option>
					<option value="Sussex">Sussex</option>
					<option value="Union">Union</option>
					<option value="Warren">Warren</option>
				</select>
            </div>
			<div style="text-align:center;">
                <input type="submit" value="Submit">
			</div>
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>

